<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Forms - Ready Bootstrap Dashboard</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}">
<link rel="stylesheet" th:href="@{/assets/css/ready.css}">
<link rel="stylesheet" th:href="@{/assets/css/demo.css}">
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>

</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/index/admin" class="logo"> Ready Dashboard </a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button"
					data-toggle="collapse" data-target="collapse"
					aria-controls="sidebar" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more">
					<i class="la la-ellipsis-v"></i>
				</button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">


					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li th:if="${session.isAdmintrator_Role}"
							class="nav-item dropdown hidden-caret"><a
							class="nav-link dropdown-toggle" href="/home" id="navbarDropdown">
								<i class="la la-film"></i> Xem Phim
						</a></li>
						<link rel="stylesheet"
							href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">

						<li class="nav-item dropdown"><a
							class="dropdown-toggle profile-pic" data-toggle="dropdown"
							href="#" aria-expanded="false"> <img
								src="/assets/img/profile.jpg" alt="user-img" width="36"
								class="img-circle"><span th:text="${session.username}">Hizrian</span></span>
						</a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img">
											<img src="/assets/img/profile.jpg" alt="user">
										</div>
										<div class="u-text">
											<h4 th:text="${session.username}">Hizrian</h4>
											<p class="text-muted" th:text="${session.email}">hello@themekita.com</p>

										</div>
									</div>
								</li>
								<div class="dropdown-divider"></div>

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout"><i
									class="fa fa-power-off"></i> Logout</a>
							</ul> <!-- /.dropdown-user --></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img src="/assets/img/profile.jpg">
					</div>
					<div class="info">
						<a class="" data-toggle="collapse" href="#collapseExample"
							aria-expanded="true"> <span th:text="${session.username}">
								Hizrian <span class="user-level" th:text="Administrator">Administrator</span>
								<span class="caret"></span>
						</span>
						</a>
						<div class="clearfix"></div>

						<div class="collapse in" id="collapseExample" aria-expanded="true"
							style=""></div>
					</div>
				</div>
				<ul class="nav">
					<li class="nav-item active"><a href="/index/admin"> <i
							class="la la-dashboard"></i>
							<p>Thống kê</p> <span class="badge badge-count"></span>
					</a></li>
					<li class="nav-item"><a href="/manager-user"> <i
							class="la la-table"></i>
							<p>Quản lí người dùng</p> <span class="badge badge-count"></span>
					</a></li>

					<li class="nav-item"><a href="/manager-video"> <i
							class="la la-th"></i>
							<p>Quản lí phim</p> <span class="badge badge-count"></span>
					</a></li>
					<li class="nav-item"><a href="/manager-coins"> <i
							class="la la-money"></i>
							<p>Quản lí xu</p> <span class="badge badge-success"></span>
					</a></li>

					<li class="nav-item"><a href="/manager-payment"> <i
							class="la la-credit-card"></i>
							<p>Quản lí thanh toán</p> <span class="badge badge-danger"></span>
					</a></li>
					<li class="nav-item"><a href="/list-load-coins"> <i
							class="la la-coins"></i>
							<p>Danh sách nạp xu</p> <span class="badge badge-danger"></span>
					</a></li>

					<li class="nav-item"><a href="/manager-buy-phim"> <i
							class="la la-film"></i>
							<p>Danh sách mua phim</p> <span class="badge badge-danger"></span>
					</a></li>

					<li class="nav-item"><a href="/manager-category"> <i
							class="la la la-cogs"></i>
							<p>Quản lí loại phim</p> <span class="badge badge-danger"></span>
					</a></li>
					<li class="nav-item"><a href="/manager-episode"> <i
							class="la la la-cogs"></i>
							<p>Quản lí tập phim</p> <span class="badge badge-danger"></span>
					</a></li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">Chỉnh sửa thể loại phim</h4>
					<div class="row"></div>
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">Chỉnh sửa thể loại</div>
							</div>
							<div class="card-body">
								<form id="categoryForm" th:action="@{/update-category}"
									method="POST" th:object="${cat}" enctype="multipart/form-data">
									<div class="form-group">
										<label for="category">Thể loại</label> <input type="text"
											name="category" class="form-control" id="category"
											th:field="*{category}" placeholder="Thể loại">

										<!-- Display validation errors -->
										<div id="categoryError" class="text-danger"
											th:if="${#fields.hasErrors('category')}"
											th:errors="*{category}"></div>

										<!-- Display custom error if category already exists -->
										<div class="text-danger" th:if="${errorMessage != null}">
											<p th:text="${errorMessage}"></p>
										</div>
									</div>

									<div class="card-action">
										<button type="submit" class="btn btn-success">Cập
											nhật</button>
										<a href="/manager-category" class="btn btn-danger">Hủy</a>
									</div>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer class="footer">
			<div class="container-fluid">
				<nav class="pull-left">
					<ul class="nav">
						<li class="nav-item"><a class="nav-link"
							href="http://www.themekita.com">ThemeKita</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Help</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Licenses</a></li>
					</ul>
				</nav>
				<div class="copyright ml-auto">
					2018, made with <i class="la la-heart heart text-danger"></i> by <a
						href="http://www.themekita.com">ThemeKita</a>
				</div>
			</div>
		</footer>
	</div>

	<!-- Scripts -->


	<script th:src="@{/assets/js/core/jquery.3.2.1.min.js}"></script>
	<script
		th:src="@{/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/assets/js/core/popper.min.js}"></script>
	<script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/plugin/chartist/chartist.min.js}"></script>
	<script
		th:src="@{/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
	<script
		th:src="@{/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
	<script
		th:src="@{/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
	<script
		th:src="@{/assets/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
	<script
		th:src="@{/assets/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
	<script th:src="@{/assets/js/plugin/chart-circle/circles.min.js}"></script>
	<script
		th:src="@{/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
	<script th:src="@{/assets/js/ready.min.js}"></script>


</body>
</html>
