<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Anime Template">
<meta name="keywords" content="Anime, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Anime | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/plyr.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="header__logo">
						<a href="./index.html"> <img src="img/logo.png" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="header__nav">
						<nav class="header__menu mobile-menu">
							<ul>
								<li class="active"><a href="/home">Homepage</a></li>

								<li><a href="/blog">Our Blog</a></li>
								<li><a href="#">Contacts</a></li>

							</ul>
						</nav>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="header__right">

						<a href="#" class="search-switch"><span class="icon_search"></span></a>
						<th:block th:if="${session.status}">
							<a href="/logout"> <span class="icon_arrow-right"
								style="transform: rotate(180deg);"></span> Logout
							</a>
						</th:block>

						<!-- Show the login icon if the user is not logged in -->
						<th:block th:unless="${session.status}">
							<a href="/login"><span class="icon_profile"></span></a>
						</th:block>
						<th:block th:if="${session.status}">
							<div class="coin-icon">
								<div class="coins">
									<i class="fa fa-coins coin-1"></i>
								</div>
								<span class="coin-count" th:text="${session.coins}">0</span> <span
									class="coin-plus-container"><i
									class="fa fa-plus coin-plus"></i></span>
							</div>
						</th:block>

					</div>
				</div>
			</div>
		</div>
		<div id="mobile-menu-wrap"></div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Breadcrumb Begin -->
	<div class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__links">
						<a href="/home"><i class="fa fa-home"></i> Home</a> <a href="#">Video</a>
						<a href="#"><span th:text="${firm.tittle_firm}"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<!-- Anime Section Begin -->
	<section class="anime-details spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="anime__video__player">
						<video id="player" playsinline controls
							th:data-poster="@{'/loadMediaImage?imageName=' + ${firm.img_firm}}">
							<source th:src="@{'/loadVideo?videoName=' + ${firm.link_video}}"
								type="video/mp4" />
							<!-- Captions are optional -->
							<track kind="captions" label="English captions" src="#"
								srclang="en" default />
						</video>
					</div>

				</div>
				<div class="row">
					<div class="col-lg-8">
						<div class="anime__details__review">
							<div class="section-title">
								<h5>Reviews</h5>
							</div>
							<div id="commentsSection">
								<div th:each="comment : ${comments}" class="anime__review__item">
									<div class="anime__review__item__text">
										<h6>
											<span th:text="${comment.user.name}">User Name</span> - <span
												th:text="${#temporals.format(comment.createdDate, 'dd-MM-yyyy HH:mm')}"></span>
										</h6>
										<p th:text="${comment.comment}">Comment text</p>
									</div>
								</div>
							</div>
						</div>



						<div class="anime__details__form">
							<div class="section-title">
								<h5>Your Comment</h5>
							</div>
							<form id="commentForm">
								<textarea name="comment" id="commentText"
									placeholder="Your Comment"></textarea>
								<input type="hidden" name="id_firm" id="firmId"
									th:value="${firm.id}" />
								<button type="submit">
									<i class="fa fa-location-arrow"></i> Review
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!-- Anime Section End -->

	<!-- Footer Section Begin -->
	<footer class="footer">
		<div class="page-up">
			<a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="footer__logo">
						<a href="./index.html"><img src="img/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer__nav">
						<ul>
							<li class="active"><a href="./index.html">Homepage</a></li>
							<li><a href="./categories.html">Categories</a></li>
							<li><a href="./blog.html">Our Blog</a></li>
							<li><a href="#">Contacts</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3">
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with <i
							class="fa fa-heart" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>

				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Search model Begin -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">
				<i class="icon_close"></i>
			</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/player.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>

	<script>
    $(document).ready(function() {
        $("#commentForm").on("submit", function(e) {
            e.preventDefault(); // Prevent the default form submission

            var commentData = {
                comment: $("#commentText").val(),
                id_firm: $("#firmId").val()
            };

            $.ajax({
                url: '/submit-comment', // The URL to send the request to
                type: 'POST',
                data: commentData,
                success: function(response) {
                    if(response.status === "success") {
                        $("#commentText").val(''); // Clear the textarea
                        loadComments(commentData.id_firm); // Load and render comments
                    } else {
                        alert("Error: " + response.message);
                    }
                },
                error: function(error) {
                    console.error("Error submitting comment:", error);
                }
            });
        });

        function loadComments(id_firm) {
            $.ajax({
                url: '/comments', // The URL to fetch the comments
                type: 'GET',
                data: { id_firm: id_firm },
                success: function(comments) {
                    var commentsHtml = "";
                    comments.forEach(function(comment) {
                        commentsHtml += `
                            <div class="anime__review__item">
                                <div class="anime__review__item__text">
                                    <h6>${comment.user.name} - ${new Date(comment.createdDate).toLocaleString()}</h6>
                                    <p>${comment.comment}</p>
                                </div>
                            </div>`;
                    });
                    $("#commentsSection").html(commentsHtml);
                },
                error: function(error) {
                    console.error("Error loading comments:", error);
                }
            });
        }
    });
</script>

</body>

</html>